body {
  color: #414141; /*dark gray*/
  background-color: #EEEEEE; /*light gray - too high of a constast can make the webpage look like it's vibrating*/
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Helvetica", "Arial", sans-serif; /*order typeface prefered is L to R, depending on what fonts user has installed*/
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em; /*em is relative, pixel is not*/
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: lower-roman;
}

a {
  text-decoration: none;
}

p {
  text-align: left;
}
