/* resets browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*measurement now includes padding and borders*/
}

.body {
  background-color: #A91B0D;
} /*why doesn't this change border of typerwriter page?*/

@media only screen and (max-width: 600px) {
  .typerwriter-image > img {
    display: none;
  }
} /*removing typewriter for smaller screens*/

.typewriter-image {
  display: flex;
  justify-content: center;

  position: fixed;
  bottom: 0px;
}

.typewriter-page {
  margin: 0 auto; /*centers*/
  max-width: 45em;

  background-color: #FAFAFA; /* off-white */

  font-family: "Courier", monospace;
  color: #444444; /* dark gray */

  line-height: 1.5;
  padding: 2em 1em;
  padding-left: 2em;
  padding-right: 2em;

  display: flex;
  justify-content: center;
  flex-direction: column;

}

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 2em;
  font-size: 3em;
}

.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;

  height: .5em;
  font-family: "Courier New", "Courier", monospace;
  font-size: 1.75em;
}

nav.main-nav > ul {
    list-style-type: none;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.main-nav > ul > li {
  padding-top: 2em;
}

nav.main-nav > ul > li > a {
  text-decoration: none;
  font-weight: bolder;
  font-size: .85em;
  color: #A91B0D; /*red pen color*/
}

nav.main-nav > ul > li > a:hover {
  text-decoration: none;
  font-size: 1.25em;
  color: #444444;
}

.page-section > h1 {
    padding-top: 1em;
    color: #333333; /* darker charcoal for emphasis */
    font-weight: normal;

    display: flex;
    justify-content: center;
}

.page-section > h2 {
  display: flex;
  justify-content: center;
  align-self: center;

  text-align: center;
  padding-top: 1em;

  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  font-family: "Courier New", "Courier", monospace;
}

.page-section > h3 {
  display: flex;
  justify-content: center;

  padding-top: 1em;

  font-size: 1.25em;
  font-weight: bold;
}

.page-section > h4 {
  display: flex;
  justify-content: center;

  text-align: center;
  padding-top: 1em;

  font-size: 1.25em;
}

.page-section > p {
  padding-top: 1em;
  font-size: 1em;
}

.page-section > p > a,
.page-section > p > strong {
  text-decoration: none;
  font-weight: bold;
  color: #A91B0D;
}

.page-section > p > a:hover {
  text-decoration: none;
  font-size: 1.3em;
  color: #444444;
}

.menu-container > h1 {
  padding-top: 1em;
  text-align: center;

  font-size: 1.5em;
  font-weight: lighter;
}

.menu-container > h2 {
  padding-top: 1em;
  text-align: center;

  font-size: 1.25em;
}

.menu-container > h3 {
  padding-top: 1em;
  text-align: center;

  font-size: 1em;
  font-style: italic;
  font-weight: normal;
}

.item-top-bar {
  display: flex;
  justify-content: space-between;

  padding-top: 1em;

  font-size: 1em;
}

.item-bottom-bar {
  padding-top: .5em;
  padding-left: 2em;

  font-size: .85em;
  font-style: italic;
}

.credits-section {
  padding-top: 2em;
  text-align: center;
  font-size: .5em;
  padding-bottom: 40em;
}
