/* resets browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.typewriter-page {
  font-family: "Courier", monospace;
  color: #444444; /* dark gray */
/*  width: auto; NEED TO SET TO FIT TYPEWRITER IMAGE */
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 2em;
  font-size: 3em;
}

.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;

  height: .65em;
  font-family: "Courier New", "Courier", monospace;
  font-size: 1.75em;
}

nav.main-nav {
  height: 3em;
}

nav.main-nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav.main-nav > ul > li {
  padding: 2.5em;
}

nav.main-nav > ul > li > a {
  text-decoration: none;
  font-size: 1.1em;
  color: #444444;
}

nav.main-nav > ul > li > a:hover {
  text-decoration: none;
  font-size: 1.75em;
  color: #A91B0D; /*red pen color*/
}

.page-section {
  .padding: 2.5em;
}

.page-section > h1 {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  padding-top: 2em;
  padding-bottom: 1.2em;
}

.page-section > h2 {
  display: flex;
  align-self: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
  font-size: 1em;
  font-style: italic;
}

.page-section > h3 {
  display: flex;
  justify-content: center;
  font-size: 1.25em;
  font-weight: bold;
}

.page-section > h4 {
  display: flex;
  justify-content: center;
  font-size: 1.25em;
}

.page-section > p {
  padding: 1em;
  font-size: 1.15em;
}

.page-section > p > a {
  text-decoration: none;
  font-weight: bold;
  color: #444444;
}

.page-section > p > a:hover {
  text-decoration: none;
  font-size: 1.3em;
  color: #A91B0D;
}
