/*custom font*/
@font-face {
  font-family: 'SpecialElite';
  src: url('SpecialElite-webfont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'IndieFlower';
  src: url('IndieFlower-webfont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

/* resets browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*measurement now includes padding and borders*/
}

body {
  background-color: #e6d3d1;
}

.typewriter-and-page-container {
  margin: 0 auto; /*centers*/
  max-width: 60em;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.typewriter-image {
  position: fixed;
  bottom: 0px;
  display: flex;
  align-self: center; /*centers typerwriter over page*/
  z-index: 2
}

.typewriter-page {
  margin: 0 auto; /*centers*/
  max-width: 45em;

  background-color: #FAFAFA; /* off-white */

  font-family: "Courier", monospace;
  color: #444444; /* dark gray */

  line-height: 1.5;
  padding: 1em 1em;
  padding-left: 3em;
  padding-right: 3em;

  display: flex;
  justify-content: center;
  flex-direction: column;

}

.header-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.title-and-logo {
  display: flex;
  justify-content: center;
}

.title-text {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-right: .4em;
  font-family: 'SpecialElite', "Courier", monospace;
  font-weight: normal;
  height: 1.5em;
  font-size: 3em;
}

.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 1em;
  font-family: "Courier New", "Courier", monospace;
  font-weight: 200;
  font-size: 1.5em;
}

.nav-bar-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #FAFAFA;
  z-index: 3;
}

nav.main-nav > ul {
    list-style-type: none;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.main-nav > ul > li {
  padding-top: 8em;
  padding-bottom: 7.5em;
}

nav.main-nav > ul > li > a {
  text-decoration: none;
  font-weight: bold;
  font-size: .92em;
  color: #A91B0D; /*red pen color*/
}

nav.main-nav > ul > li > a:hover {
  text-decoration: none;
  font-weight: bolder;
  color: #444444;
}

nav.main-nav > ul > li > a::after {
  font-weight: bolder;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}

.image-and-header {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1
}

.section-img-book {
  position: absolute;
  left: 615px;
} /*how to position the 1st and last image on the right side using child selectors?*/

.section-img-cafe {
  position: absolute;
  right: 600px;
}

.section-img-poster {
  position: absolute;
  left: 595px;
}

.page-section h1,
.image-and-header h1 {
    padding-top: 1.25em;
    padding-bottom: .5em;
    color: #333333; /* darker charcoal for emphasis */
    font-family: 'SpecialElite', "Courier", monospace;
    font-weight: normal;

    display: flex;
    justify-content: center;
    font-size: 1.75em;
}

h1::before {
  display: block;
  content: " ";
  margin-top: -3em;
  height: 3em;
  visibility: hidden;
  pointer-events: none;
}

.page-section > h2 {
  text-align: center;
  padding-top: .5em;

  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  font-family: "Courier New", "Courier", monospace;
}

.page-section > h3 {
  display: flex;
  justify-content: center;

  padding-top: 1em;

  font-size: 1.25em;
  font-weight: bold;
}

.page-section > h4 {
  display: flex;
  justify-content: center;

  text-align: center;
  padding-top: 1em;

  font-family: "Courier New", "Courier", monospace;
  font-size: 1.25em;
  font-weight: lighter;
}

.page-section > p {
  padding-top: 1em;
  font-size: 1em;
}

em {
  font-family: 'IndieFlower', "Courier New", "Courier", monospace;
  font-weight: 300;
  color: #A91B0D;
}

.page-section > p > a,
.page-section > p > strong,
.credits-section > a {
  text-decoration: none;
  font-weight: bold;
  color: #A91B0D;
}

.page-section > p > a:hover {
  text-decoration: none;
  font-size: 1.2em;
  color: #444444;
}

.menu-container > h1 {
  padding-top: 1.5em;
  text-align: center;

  font-family: 'SpecialElite', "Courier", monospace;
  font-weight: 600;
  font-size: 1.5em;
}

.menu-container > h2 {
  padding-top: 2em;
  text-align: center;

  font-size: 1.25em;
}

.menu-container > h3 {
  padding-top: 1em;
  text-align: center;

  font-size: 1em;
  font-style: italic;
  font-weight: normal;
}

.item-top-bar {
  display: flex;
  justify-content: space-between;

  padding-top: 1em;

  font-size: 1em;
}

.item-bottom-bar {
  padding-top: .5em;
  padding-left: 2em;

  font-size: .85em;
  font-style: italic;
  font-family: "Courier New", "Courier", monospace;
}

.credits-section {
  padding-top: 2em;
  text-align: center;
  font-size: .5em;
  padding-bottom: 30em;
  font-family: "Courier New", "Courier", monospace;
}

.credits-section > em > a {
  text-decoration: none;
  color: #444444;
}

.credits-section > em > a:hover {
  text-decoration: none;
  font-size: 1.5em;
  color: #444444;
}

@media only screen and (max-width: 685px) {
/*how to autoshrink header items so it doesn't double line*/
  .title-text {
    padding-right: calc(10px + .5vw);
    height: calc(30px + 1.5vh);
    font-size: calc(30px + 1.5vw);
  }

  .title-and-logo img {
    height: calc(30px + 1.5vw);
    padding-bottom: calc(4px + .5vh);
  }

  .subtitle {
    font-size: calc(16px + 1.5vw);
    padding-top: calc(15px + .5vh);
    padding-bottom: calc(15px + 1.5vh);
  }

  .nav-bar-container {
    position: static;
  }

  nav.main-nav > ul {
      list-style-type: none;
      display: flex;
      height: calc(6px + 1.5vh);
      flex-direction: column;
      align-items: center;
  }

  nav.main-nav > ul > li {
    padding: 0;
    text-align: center;
  }

  .page-section > h1 {
    padding-top: calc(90px + 1.5vh);
    font-size: calc(16px + 1.5vw);
    text-align: center;
  }

  .image-and-header > h1 {
    font-size: calc(16px + 1.5vw);
    text-align: center;
  }

  .typewriter-image img {
    display: none;
  }

  /*doesn't seem to be working?*/
  .section-img-book img,
  .section-img-cafe img,
  .section-img-poster img {
    display: none;
  }
} /*removing typewriter for smaller screens - need to style nav-bar and header too*/
